@font-face {
    font-family: PTSans;
    src: url(/assets/PTSans-Regular.ttf);
}

.navbar_class{
    height: 4rem;
}

.body{
    padding: 1rem 1rem;
    background-color: #30475E;
}

.letter{
    text-align: center;
    font-family: PTsans;
}

.letterN{
    text-align: center;
    font-family: PTsans;
    font-weight: bold;
}

.letterL{
    color: #000000;
    text-align: center;
    font-family: PTsans;
    font-weight: bold;
}

.letterDark{
    font-family: PTsans;
    color: #FFFFFF;
}

.letterDarkC{
    font-family: PTsans;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

.letter_menu{
    text-align: center;
    font-family: PTsans;
    color: #FFFFFF;
    font-weight: bold;
}

.letterLeft{
    font-family: PTsans;
}

.drop{
    width: 100%;
    height: 90px;
    line-height: 90px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    font-family: PTsans;
}

.info_tab{
    background-color:#131d27;
}

.image{
    align-self: center;
}






.sidebar {
    position: fixed;
    top: 0;
    left: 10;
    bottom: 0;
    width: 18rem;
    padding: 1rem 1rem;
    background-color: #BDBDBD;
}

.span{
    vertical-align: middle;

}

.sidebar_in{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4.5rem;
    padding: 1rem 1rem;
    background-color: #BDBDBD;
}



.menu_letra{
    color: #060606 ;
    font-size: 14pt;
    text-decoration-style: solid;
}

.card_color{
    color: #FFFFFF;
    font-size: 17pt;
    font-weight: bolder;
}

.card_color2{
    color: #FFFFFF;
    font-size: 26pt;
    font-weight: bolder;
    align-self: center;
}